:root {
  --md-primary-fg-color: hsla(355, 75.7%, 42.0%, 1.0);
  --md-primary-fg-color--light: hsla(355, 75.7%, 42.0%, 1.0);
  --md-primary-fg-color--dark: hsla(355, 75.7%, 42.0%, 1.0);

  --md-default-bg-color: hsla(0, 0.0%, 100.0%, 1.0);

  --md-accent-fg-color: hsla(1, 76.0%, 54.3%, 1.0);
  --md-accent-fg-color--transparent: hsla(1, 76.0%, 54.3%, 0.1);

}


@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}
